body{
    background: #666666 !important;
    color: #ffffff;
}
.cont{
    height: 60vh;
    width: 47%;
    margin: 0 auto;
    background-color: #ffffff;
    margin-left: 430px;
    margin-top: 25vh;

}
.forms{
    position: absolute;
    margin-left: 300px;
}
.input{
  width: 180px !important;
}
.btn{
    margin-left: 45px;
}
.result{
   position:fixed;
   width: 180px !important;
   top:480px;
   margin-left: 735px;
}
.title{
    margin-left: 290px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 60px; 
}